body{
    text-align: center;
    align-items: center;
}

div.highlight{
    margin: 0;
}

p{
    display: inline-block;
    margin: 0;
}

p1{
    display: inline-block;
}

p2{
    display: inline-block;
    margin: 0;
    background: orange;
}

p3{
    margin: 0;
}

p4{
    color: red;
}